*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins',sans-serif;
}
.header{
    min-height:100vh;
    width:100%;
    animation: animate 24s linear infinite;
    background-size: cover;
}
@keyframes animate{
    0%,100%{
        background-image: url(luca-bravo-O453M2Liufs-unsplash.jpg);
    }
    25%{
        background-image: url(banner.png);
    }
    50%{
        background-image: url(felix-rostig-UmV2wr-Vbq8-unsplash.jpg);
    }
    75%{
        background-image: url(oren-yomtov-FAcfTXBw95s-unsplash.jpg);
    }
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.navlinks li{
    list-style: none;
    display:inline-block;
    border-right:1px solid white ;
    padding:7px;
}
.navlinks li a{
    text-decoration: none;
    color:white;
}
.registerbutton{
    text-decoration: none;
    color:black;
    margin-right: 30px;
    background-color: white;
    border-radius: 20px;
    height:40px;
    width:120px;
    padding: 10px;
}
.heading{
    padding:0 7%;
}
.header h1{
    color:white;
    font-size: 50px;
    text-align: center;
    padding-top: 250px;
}
.searchbar{
    margin-top: 20px;
    margin-left: 130px;
    background-color: white;
    height:50px;
    width:900px;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}
.searchbar form{
    display:flex;
    align-items:center;
    font-style: italic;
}
.searchbar form input{
    border:none;
    text-align: center;
}
.searchbar form label{
    font-family:g;

}
.searchbar form button{
    border-radius: 15px;
    border:none;
    background-color: rgb(184, 176, 176);
    height:40px;
    width:70px;
    font-family:g;
    font-size: 15px;
}
.india{
    padding-top: 30px;
}
.india h2{
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(26, 25, 25);
    font-weight: 600;
    margin-left:30px;
}
.indiapackages{
    padding:20px;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap:30px;
}
.indiapackages div img{
    width:100%;
    border-radius: 10px;

}
.indiapackages div{
    position:relative
}
.indiapackages div span{
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50% ,-50%);
   text-align: center;
   color: white;
   font-weight: 600;
}
.abtmssg{
    text-align: center;
    margin:88px;
    color:#333;
    font-size: 17px;
}
.abtmssg h2{
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 500;
}
.header2 nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}
.navlinks2 li{
    display:flex;
    list-style: none;
    display:inline-block;
    border-right:1px solid black ;
    padding:7px;
}
.navlinks2 li a{
    text-decoration: none;
    color:black;
}
.registerbutton2{
    text-decoration: none;
    color:white;
    margin-right: 30px;
    background-color: rgb(221, 91, 91);
    border-radius: 20px;
    height:40px;
    width:120px;
    padding: 10px;
}
.listcontainer{
    margin-top: 50px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.leftcol{
    flex-basis:70%;
}
.rightcol{
    flex-basis:25%;
}